html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  background: rgb(252, 233, 205);
  /* background: url('img/background.gif'); */
  background-size: 300px 220px;
  animation: wind 60s linear infinite;
  font-size: 2vw;
}

/* @keyframes wind {
  0% {background-position: 0%}
  100% {background-position: 100%}
} */

.content-wrapper {
  max-width: 1100px;
  width: 100%;
  padding: 10px 20px 20px 20px;
  margin: auto;
}

.cards-wrapper {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.cards-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.flip-card {
  background-color: transparent;
  width: 25%;
  height: 25%;
  perspective: 1000px;
  cursor: pointer;
  padding: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

/* fix padding issues




*/

.flip-card-inner.flip {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  backface-visibility: hidden;
  border-radius: 30px;
}

.flip-card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.flip-card-back {
  background: rgb(155, 212, 255);
  color: rgb(175, 255, 178);
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-content: center;
}

.flip-card span {
  align-self: center;
}

.new-game {
  width: calc(25% - 20px);
  cursor: pointer;
  background: rgb(214, 170, 245);
  color: rgb(252, 245, 50);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  margin: 10px 0 0 10px;
  padding: 20px;
  -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.new-game:hover {
  background: rgb(252, 245, 50);
  color: rgb(214, 170, 245);
}

.new-game p {
  align-self: center;
}

@media screen and (max-width: 1100px) {
  body {
    font-size: 4vw;
  }
  .new-game {
    width: calc(50% - 20px);
  }
}