html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 30px;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  background: url('img/background.jpg');
  background-size: 100px 100px;
  animation: wind 60s linear infinite;
}

@keyframes wind {
  0%{background-position:0%}
  100%{background-position:100%}
}

.flip-card {
  background-color: transparent;
  width: 25vw;
  height: 25vw;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card-inner.flipped {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  backface-visibility: hidden;
}

.flip-card-front img, .flip-card-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flip-card-back {
  background: rgb(155, 212, 255);
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-content: center;
}

.flip-card span {
  align-self: center;
}

.new-game {
  width: 300px;
  height: 150px;
  cursor: pointer;
  background: url('img/new-game.png');
  background-size: 300px 170px;
  color: rgb(252, 245, 50);
  display: flex;
  justify-content: center;
}

.new-game p {
  align-self: center;
  padding-top: 15px;
}